* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
}

#nav {
  background: rgba(200, 100, 100, 1);
  height: 10rem;
  padding: 1rem;
}

.show-links {
  align-items: flex-end;
  background: rgba(168, 168, 1, 1);
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  height: 1rem;
  /* justify-content: flex-end; */
  list-style: none;
  margin: 2rem 0 0 auto;
  overflow: hidden;
  /* padding: 5px 5px 0 0; */
  width: 5rem;
  /* margin-left: auto; */
}

.vanish {
  align-items: flex-end;
  background: rgba(1, 105, 31, 1);
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  height: 9rem;
  justify-content: flex-end;
  list-style: none;
  margin: 0 0 0 auto;
  /* padding: 5px 5px 0 0; */
  width: 20rem;
  /* margin-left: auto; */
}

.a {
  color: inherit;
  text-decoration: none;
}

.a:hover {
  color: rgba(200, 10, 10, 1);
}

.li-margin {
  margin: 0 15px 0 0;
}

#section {
  background: rgba(28, 1, 147, 1);
  height: 5rem;
}

#header, #footer {
  height: 20vh;
  background: rgba(122, 20, 45, 1);
}

#main {
  height: 60vh;
  background: rgba(22, 120, 45, 1);
}
