.contact-form {
  margin: 0 auto;
  width: 400px;
  padding: 1rem;
  border: 2px solid #bbb;
  border-radius: 1rem;
}

.contact-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-ul li+li {
  margin-top: 1rem;
}

.contact-label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.contact-input,
.contact-textarea {
  font: 1rem sans-serif;

  width: 400px;
  box-sizing: border-box;

  border: 2px solid #999;
}

.contact-input:focus,
.contact-textarea:focus {
  border-color: #000;
}

.contact-textarea {
  vertical-align: top;

  height: 5rem;
}

.contact-li-btn {
  padding-left: 90px;
}

.contact-btn {
  margin-left: 0.5rem;
}